@import "variables.scss";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  background-color: $background-color-2;

  input,
  button {
    border: none;
    background-color: $background-color-3;
    outline: none;
    color: $white;
  }
  input {
    flex: 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 6px;
  }
  button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 6px;
    cursor: pointer;
  }
}
