$background-color: #202020;
$background-color-2: #1B1B1B;
$background-color-3: #494949;
$background-color-4: #131313;
$primary-color: #1bc958;
$primary-color-hover: #1ed760;
$white: #FFF;
$white-transparent-40:#ffffff20;
$white-transparent-70:#ffffff50;
$white-transparent-90:#ffffff90;
$black-transparent: #40404040
